@charset "utf-8";

html,
body {
    font-family: system-ui, -apple-system, sans-serif;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    scroll-behavior: smooth;
    user-select: none;
    -webkit-user-select: none;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

label {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}

label.required::after {
    content: " *";
    color: #ef4444;
}

button {
    font-family: system-ui, -apple-system, sans-serif;
    outline: 0;
    cursor: pointer;
    white-space: nowrap;
    line-height: inherit;
    appearance: none;
    -webkit-appearance: none;
    transition: all .4s ease;
}

button:focus {
    outline: 0;
    box-shadow: 0;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    gap: 10px;
    width: 425px;
    height: 80px;
    z-index: 666;
    margin: 0 auto;
    padding: 0 24px;
    background-color: #fff;
}

form {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 425px;
    height: auto;
    gap: 40px;
    padding: 40px 24px;
    margin-bottom: 80px;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 999px;
    background-color: #0157ff;
    border-width: 2px;
    border-style: solid;
    border-color: #0157ff;
}

.action:hover {
    background-color: #013497;
    border-color: #013497;
}

.back {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    color: #0157ff;
    font-size: 18px;
    border-radius: 50%;
    border: 2px solid #0157ff;
    background-color: transparent;
    transition: all .4s ease;
}

.back:hover,
.back:active {
    background-color: rgba(1, 87, 255, 0.1);
}

.question {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 30px;
}

.wrap {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
}

.choose {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 8px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 12px;
    border-radius: 999px;
    color: #000;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
}

.option:after {
    content:"";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50%;
    background-color: #eee;
    transition: all .3s ease;
}

.option:hover {
    background-color: #fafafa;
}

.option:hover:after {
    background-color: #ddd;
}

.active.option {
    color: #0157ff;
    border-color: #0157ff;
    background-color: rgba(1, 87, 255, 0.1);
}

.active.option::after {
    font-family: "Font Awesome 6 Pro";
    content: "\f00c";
    background-color: #0157ff;
}

.data {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 16px;
}

input {
    font-family: system-ui, -apple-system, sans-serif;
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 0 20px;
    outline: 0;
    appearance: none;
    -webkit-appearance: none;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 4px;
}

input::placeholder {
    color: #999;
}

@media only screen and (max-width: 425px) {

    form {
        width: 100%;
    }

    nav {
        width: 100%;
    }

}